<section class="js-content">
  <app-poopup-header
    [contentPercent]="contentPercent"
    [showSecondLi]="showSecondLi"
    (toggleSecondLi)="showSecondLi = $event"
  ></app-poopup-header>

  <nav>
    <div class="nav-links">
      <p
        *ngFor="let title of getData.titles"
        [ngClass]="content === title.title ? 'active-link' : ''"
        (click)="showContent(title.title, title.percent)"
      >
        {{ title.title }}
      </p>
    </div>
  </nav>
  <div class="js-container">
    <div *ngIf="content === 'Intro'" class="js-topics">
      <app-list-tag
        [equalityProp]="content"
        [equalityValue]="'Intro'"
        [loopli1]="getData.data01.ul"
        [loopli2]="getData.data01.ul"
        [showSecondLi]="!showSecondLi"
      ></app-list-tag>
    </div>

    <div *ngIf="content === 'Releases'" class="js-topics">
      <ul class="history-ul">
        <li *ngFor="let ul of getData.data02.ul">
          {{ ul.li }}
          <span>{{ ul.span }}</span>
          <small>{{ ul.small }}</small>
          <div class="triangle-bottomright"></div>
          <div class="triangle-topleft"></div>
          <i [class]="ul.icon"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
