<div *ngIf="showCode === 'var-data01'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
&lt;!-- camelCase --&gt;
let firstName

&lt;!-- Letters, Underscore, or the Dollar --&gt;
let first_Name = “Mark”
et $firstName = “Peter”

&lt;!-- How not to use --&gt;
let 2boys = “2”;
let new = “A word”
</code>
</pre>
</div>

<div *ngIf="showCode === 'var-let'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
let age = 30;		// 30
age = 31;			// 31
console.log(age);
</code>
</pre>
</div>

<div *ngIf="showCode === 'var-const'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
let birthYear = 2000;	//Error
birthYear = 2004;
console.log(birthYear);
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-typeof'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
let birthYear = 2000;	//Error
birthYear = 2004;
console.log(birthYear);
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-assignment'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
// Examples 1 :
let x = 25 + 5; 
console.log(x); // 30
  
let x = 10; 
  
// Examples 2 :
let x += 10; 
console.log(x); // x = x + 10 = 20
  
// Examples 3 :
let x ++; 
console.log(x); // x = x + 10 = 11
  
// Examples 4 :
let x +--; 
console.log(x); // x = x - 10 = 9
</code>
</pre>
</div>

<div *ngIf="showCode === 'operators-comparison'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
// Examples :
let x = 10; 
let y = 20;
console.log(x &lt; y); // true
console.log(x >= y); // false
</code>
</pre>
</div>

<div *ngIf="showCode === 'template-literals'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
const myName = "Peter";
const year = "2024";
const birthYear = "1990";

// Instead of this
const aboutMe = " I'm " + myName + " my birth year is " + birthYear + " and my age is " + (year - birthYear) + "!";
// New line
console.log(“This is a \n new line”);


// Template Literals
const aboutMeNew =  `I'm $&#123;myName&#125; my birth year is $&#123;birthYear&#125; and my age is $&#123;year - birthYear&#125; !`;
// New line
console.log(`This is a new line`);
</code>
</pre>
</div>

<div *ngIf="showCode === 'type-conversion'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
const inputYear = “1991”;
console.log(inputYear + 18); // 199118 ❌
console.log(Number(inputYear) + 18); //  2009 ✅
</code>
</pre>
</div>

<div *ngIf="showCode === 'type-coercion'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
console.log('I am' +23 + 'Years old');
console.log('I am' + string(23) + 'Years old');
console.log('23' - '10' - 3); // 10
</code>
</pre>
</div>

<div *ngIf="showCode === 'if-else'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
const age = 19;

if (age >= 18) &#123;
 console.log(`You can get a Driving Licence`);
&#125; else &#123;
 console.log(`You need to wait for another $&#123;18 - age&#125; years`);
&#125;
</code>
</pre>
</div>

<div *ngIf="showCode === 'else-if'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
const favColor = “pink”;

if (favColor === “pink”) &#123;
  console.log(`Your favorite color is Pink`);
&#125; else if (favColor === “red”) &#123;
  console.log(`Your favorite color is Red`);
&#125; else &#123;
  console.log(`Sorry!! Your favorite color is not in the list`);
&#125;  
</code>
</pre>
</div>

<div *ngIf="showCode === 'if-switch'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
const day = “monday”;

switch (day) &#123;
 case 'monday';
 console.log(`Today you have English Class`);
 break;

 case 'tuesday';
 console.log(`Today you have Math Class`);
 break;

 case 'wednesday';
 console.log(`Today you have Science Class`);
 break;

 default;
 console.log(`Today you have No classes`)
&#125; 
</code>
</pre>
</div>

<div *ngIf="showCode === 'truthy'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
console.log(boolean('A Name'));
</code>
</pre>
</div>

<div *ngIf="showCode === 'falsy'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
console.log(boolean(0)); -> False

console.log(boolean(undefined)); -> False
  
console.log(boolean(&#123;&#125;)); -> False(Empty object)

Const money = 0;
if (money) &#123;
  console.log(`don't spend it all`);
&#125;  else &#123;
  console.log(`You should get a job`);
&#125; 
  
// Output : You should get a job
// Tip: If the const money = 100; 
// js wil print don't spend it all
</code>
</pre>
</div>

<div *ngIf="showCode === 'Loose Equality'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
'18' == 18
Output : True
</code>
</pre>
</div>

<div *ngIf="showCode === 'Strict Equality'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
Const age = 18;
if (age === 18) console.log(`You are an adult`);
Output : You are an adult
</code>
</pre>
</div>

<div *ngIf="showCode === 'Prompt'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
Const favNumber = prompt(`Enter your favorite number`)
console.log(favNumber);  
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-and'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
true + true = true
true + false = false
false + true = false
false + false = false
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-or'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
true + true = true
true + false = true
false + true = true
false + false = false  
</code>
</pre>
</div>

<div *ngIf="showCode === 'boolean-not'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
let a = false;
Output : !a -> true

Example :
if (fav !== value); 
Strict version ⬆ (Recommended)
  
if (fav != value); 
Loose version
</code>
</pre>
</div>

<div *ngIf="showCode === 'statement-expression'" class="code-container">
  <pre class="line-numbers">
<code class="language-html">
Const str = `23 is big`;
                 ⬆️
if (23 > 10) &#123;
  console.log(str);
&#125;
  
</code>
</pre>
</div>
