<section class="js-content">
  <section class="progress-sec">
    <div
      class="progress"
      role="progressbar"
      aria-label="Basic example"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div class="progress-bar" [style]="'width:' + contentPercent">
        <div class="progrss-shade"></div>
      </div>
    </div>
    <div class="progress-icons">
      <i class="fa-solid fa-caret-left"></i>
      <i class="fa-solid fa-caret-right"></i>
      <i class="fa-solid fa-language" (click)="translateFn()"></i>
      <i
        class="fa-solid fa-xmark"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></i>
    </div>
  </section>

  <nav>
    <div class="nav-links">
      <p
        *ngFor="let title of getData.titles"
        [ngClass]="content === title.title ? 'active-link' : ''"
        (click)="showContent(title.title, title.percent)"
      >
        {{ title.title }}
      </p>
    </div>
  </nav>

  <div class="js-container">
    <div *ngIf="content === 'Variable'" class="js-topics">
      <ul *ngIf="!showSecondLi" class="regular-ul">
        <li *ngFor="let ul of getData.data01.ul">
          {{ ul.li1 }}
        </li>
      </ul>
      <ul *ngIf="showSecondLi" class="regular-ul">
        <li *ngFor="let ul of getData.data01.ul">
          {{ ul.li2 }}
        </li>
      </ul>
      <app-js-code [showCode]="'var-data01'"></app-js-code>
    </div>

    <div *ngIf="content === 'Declaration'" class="js-topics">
      <h3>{{ getData.data02.h3 }}</h3>
      <ul *ngIf="!showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul01.ulTitle01 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul01.ul01">
          {{ data02.li1 }}
        </li>
      </ul>
      <app-js-code *ngIf="!showSecondLi" [showCode]="'var-let'"></app-js-code>
      <ul *ngIf="!showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul02.ulTitle02 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul02.ul02">
          {{ data02.li1 }}
        </li>
      </ul>
      <app-js-code *ngIf="!showSecondLi" [showCode]="'var-const'"></app-js-code>
      <ul *ngIf="!showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul03.ulTitle03 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul03.ul03">
          {{ data02.li1 }}
        </li>
      </ul>
      <!-- Tamil -->
      <ul *ngIf="showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul01.ulTitle01 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul01.ul01">
          {{ data02.li2 }}
        </li>
      </ul>
      <app-js-code *ngIf="showSecondLi" [showCode]="'var-let'"></app-js-code>
      <ul *ngIf="showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul02.ulTitle02 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul02.ul02">
          {{ data02.li2 }}
        </li>
      </ul>
      <app-js-code *ngIf="showSecondLi" [showCode]="'var-const'"></app-js-code>
      <ul *ngIf="showSecondLi" class="js-declarVar">
        <li>
          {{ getData.data02.ul03.ulTitle03 }}
        </li>
        <li *ngFor="let data02 of getData.data02.ul03.ul03">
          {{ data02.li2 }}
        </li>
      </ul>
    </div>
  </div>
</section>
