<main>
  <header>
    <div class="header-01">
      <p
        *ngFor="let data of appHeader.headOne"
        (click)="componentMain(data.key)"
        [matTooltip]="data.toolTip"
      >
        <i [class]="data.icon"></i>
      </p>
    </div>

    <div class="header-02" data-bs-toggle="modal" data-bs-target="#menuModal">
      <i class="fa-solid fa-ellipsis"></i>
    </div>
  </header>

  <app-js-hello *ngIf="components === 'javascript'"></app-js-hello>
  <app-ng-hello *ngIf="components === 'angular'"></app-ng-hello>
</main>

<!-- Popups -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="menuModal"
  tabindex="-1"
  aria-labelledby="menuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-end">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="menu-list">
          <p data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-book"></i>
            Notes
          </p>
          <p
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            routerLink="tasks"
          >
            <i class="fa-solid fa-dumbbell"></i>
            Tasks
          </p>
          <p (click)="toggleTheme()" data-bs-dismiss="modal" aria-label="Close">
            <span *ngIf="isDarkTheme">
              <i class="fa-solid fa-sun"></i>
              Light
            </span>
            <span *ngIf="!isDarkTheme">
              <i class="fa-solid fa-moon"></i>
              Dark
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  type="square-loader"
  size="medium"
  bdColor="white"
  color="#fff"
></ngx-spinner>
