<main>
  <nav class="app-nav">
    <i
      class="fa-solid fa-bars"
      style="font-size: 20px"
      (click)="navControl()"
    ></i>
    <div>
      <i
        (click)="showTopicList('javascript')"
        class="fa-brands fa-square-js"
        routerLink="jsHelloComponent"
        [ngClass]="{ 'active-nav': jsHelloComponent }"
      ></i>
      <i
        (click)="showTopicList('css')"
        class="fa-brands fa-css3-alt"
        routerLink="cssHelloComponent"
        [ngClass]="{ 'active-nav': cssHelloComponent }"
      ></i>
      <i
        (click)="showTopicList('scss')"
        class="fa-brands fa-sass"
        routerLink="scssHelloComponent"
        [ngClass]="{ 'active-nav': scssHelloComponent }"
      ></i>
      <i
        (click)="showTopicList('angular')"
        class="fa-brands fa-angular"
        routerLink="ngHelloComponent"
        [ngClass]="{ 'active-nav': ngHelloComponent }"
      ></i>
    </div>
    <i class="fa-solid fa-circle-exclamation"></i>
  </nav>

  <section
    class="app-container"
    [ngStyle]="
      hideTopics
        ? { 'grid-template-columns': '280px auto' }
        : { 'grid-template-columns': 'auto' }
    "
  >
    <section [ngClass]="hideTopics ? 'app-topics' : 'app-topics-inactive'">
      <header>
        <h3>{{ topicName }}</h3>
      </header>
      <!-- Js Topics -->
      <div class="topics-list" *ngIf="javascript">
        <div
          [ngClass]="{
            'topic-item': true,
            'topic-active': hideMainTopic === topics.key
          }"
          *ngFor="let topics of jsTopicList"
          [routerLink]="topics.route"
          (click)="matchTopic(topics.key)"
        >
          <h4>{{ topics.h3 }}</h4>
          <small>{{ topics.small }}</small>
        </div>
      </div>

      <!-- Ng Topics -->
      <div class="topics-list" *ngIf="angular">
        <p>Angular in Progress..</p>
      </div>

      <!-- Css Topics -->
      <div class="topics-list" *ngIf="css">
        <p>Css in Progress..</p>
      </div>

      <!-- Scss Topics -->
      <div class="topics-list" *ngIf="scss">
        <p>Scss in Progress</p>
      </div>
    </section>

    <section class="app-content">
      <div class="app-screen">
        <router-outlet></router-outlet>
      </div>
    </section>
  </section>
</main>
