<main>
  <section
    class="app-container"
    [ngStyle]="
      hideTopics
        ? { 'grid-template-columns': '280px auto' }
        : { 'grid-template-columns': 'auto' }
    "
  >
    <section [ngClass]="hideTopics ? 'app-topics' : 'app-topics-inactive'">
      <header>
        <div class="app-headerName">
          <div class="dropdown">
            <p role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-note-sticky"></i>
            </p>

            <ul class="dropdown-menu">
              <li
                class="dropdown-item"
                (click)="showTopicList('javascript')"
                routerLink="jsHelloComponent"
              >
                Javascript
              </li>
              <li
                class="dropdown-item"
                (click)="showTopicList('css')"
                routerLink="cssHelloComponent"
              >
                Css
              </li>
              <li
                class="dropdown-item"
                (click)="showTopicList('scss')"
                routerLink="scssHelloComponent"
              >
                Scss
              </li>
              <li
                class="dropdown-item"
                (click)="showTopicList('angular')"
                routerLink="ngHelloComponent"
              >
                Angular
              </li>
            </ul>
          </div>
          <h3>{{ topicName }}</h3>
        </div>
        <!-- <mat-slide-toggle (change)="toggleTheme()"></mat-slide-toggle> -->
        <div class="app-mode">
          <i
            matTooltip="Light Mode"
            *ngIf="isDarkTheme"
            class="fa-solid fa-sun"
            (click)="toggleTheme()"
          ></i>
          <i
            matTooltip="Dark Mode"
            *ngIf="!isDarkTheme"
            class="fa-solid fa-moon"
            (click)="toggleTheme()"
          ></i>
        </div>
      </header>
      <!-- Js Topics -->
      <div class="topics-list" *ngIf="javascript">
        <div
          [ngClass]="{
            'topic-item': true,
            'topic-active': hideMainTopic === topics.key
          }"
          *ngFor="let topics of jsTopicList"
          [routerLink]="topics.route"
          (click)="matchTopic(topics.key)"
        >
          <h4>{{ topics.h3 }}</h4>
          <small>{{ topics.small }}</small>
        </div>
      </div>

      <!-- Ng Topics -->
      <div class="topics-list" *ngIf="angular">
        <p>Angular in Progress..</p>
      </div>

      <!-- Css Topics -->
      <div class="topics-list" *ngIf="css">
        <p>Css in Progress..</p>
      </div>

      <!-- Scss Topics -->
      <div class="topics-list" *ngIf="scss">
        <p>Scss in Progress</p>
      </div>
    </section>

    <section class="app-content">
      <div class="app-screen">
        <router-outlet></router-outlet>
      </div>
    </section>
  </section>
</main>
