<form class="login-content" [formGroup]="loginForm">
  <h3>Login</h3>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInputGroup1"
        placeholder="Username"
        formControlName="username"
      />
      <label for="floatingInputGroup1">Username</label>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingInputGroup1"
        placeholder="Username"
        formControlName="password"
      />
      <label for="floatingInputGroup1">Password</label>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</form>
