<section class="app-content">
  <div class="content-1">
    <div class="content-about">
      <h2>Javascript</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores,
        dicta.
      </p>
    </div>

    <h3 class="content-split">Basic</h3>

    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set01"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>

    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set02"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>

    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set03"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>

    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set04"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>

    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set05"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>

    <h3 class="content-split">High-level Overview</h3>
    <div class="flex-container">
      <app-topic-menu
        *ngFor="let data of jsTopics.set06"
        [routerLink]="data.route"
        [icon]="data.icon"
        [p]="data.h3"
      ></app-topic-menu>
    </div>
  </div>
</section>
